page-home {

    
    .score{
        font-size: 200%;
    }
    .head-heart{
        padding: 0 8px 0 8px;
        font-size: 150%;
    }
   .scroll-content{
       background: #DAF6F6;
   }
   .card-md{
       background: rgba(249, 96, 198, 0.54);
   }
   .manual{
       font-size: 120%;
       text-align: center;
   }
   .names{
       font-size: 200%;
   }
}
